<h1>Should I take an umbrella?</h1>

<dl>
  <dt>User location</dt>
  <dd> <%= @user_location%> </dd>

  <dt>Latitude</dt>
  <dd>41.8781136</dd>

  <dt>Longitude</dt>
  <dd>-87.6297982</dd>

  <dt>Current temperature</dt>
  <dd>2.26</dd>

  <dt>Current summary</dt>
  <dd>Cloudy</dd>

  <dt>Umbrella?</dt>
  <dd>You probably won&#39;t need an umbrella.</dd>
</dl>

<a href="/umbrella">Go back</a>
